body {
  background-color: #d2d79f;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
  margin: 0;
}

h1 {
  display: block;
  padding: 20px;
  color: #483838;
  text-align: center;
  border-radius: 5px;
  color: #483838;
}

.topnav {
  list-style-type: none;
  padding: 0;
  background-color: #483838;
  overflow: hidden;
  border-radius: 5px;
  margin: 0;
}

.stick {
  position: sticky;
  top: 0;
}

.topnav a {
  display: block;
  padding: 14px 16px;
  font-size: 20px;
}

.left-topbar {
  float: left;
}

.right-topbar {
  float: right;
}

.left-topbar li,
.right-topbar li {
  float: left;
}

.left-topbar li {
  border-right: 1px solid #d2d79f;
}

.right-topbar li {
  border-left: 1px solid #d2d79f;
}

.left-topbar a,
.right-topbar a {
  text-decoration: none;
}

li a:hover:not(.tree, .title) {
  background-color: #90b77d;
  color: #483838;
}

.topnav a:not(.title) {
  color: #90b77d;
}

.title {
  background-color: #42855b;
  color: #483838;
  font-weight: bold;
}

.push-right {
  float: right;
  /* border-right: none;
  border-left: 1px solid #D2D79F; */
}

.info-log,
.flash {
  position: absolute;
  right: 10px;
  margin-top: 8px;
  color: #483838;
  font-size: 20px;
}

.form {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.warning {
  color: #42855b;
  font-weight: normal;
}

.flash {
  right: auto;
  left: 10px;
}

.get-db {
  position: relative;
  top: 150px;
  display: flex;
}

.db-data {
  right: 10px;
  text-align: left;
}

.post {
  background-color: #90b77d;
  padding: 10px;
  border-radius: 5px;
  text-align: left;
  color: #483838;
  margin: 0;
  margin-bottom: 20px;
  display: flex;
  align-self: center;
  flex-direction: column;
  box-shadow: 5px 5px 10px #483838;
  width: 90%;
  min-width: 450px;
}

.post a {
  /* text-decoration: none; */
  color: #483838;
}

.post-list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  padding: 0;
}

.upload-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  margin: auto;
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 10px;
}

.top-content {
  background-image: url("https://img.freepik.com/free-vector/gradient-mountain-landscape_23-2149162009.jpg?w=2000");
  background-size: cover;
  background-position: center;
  padding: 8px;
  margin-bottom: 20px;
  min-height: 380px;
  position: relative;
  box-shadow: 0px 5px 10px #483838;
}

/* img:hover {
  transform: scale(1.4) translateX(150px);
  transition: transform 0.3s;
} */

.content {
  display: flex;
}

.post-title {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}

.page-title {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.editing-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.right-post-list {
  list-style-type: none;
  padding: 0 10px;
  margin-right: 10px;
  text-align: left;
}

.right-bar {
  background-color: #483838;
  margin-right: 10px;
  border-radius: 5px;
}

.right-post {
  min-width: 160px;
  color: #90b77d;
}

.right-post-title {
  font-weight: normal;
}

.post-details {
  background-color: #90b77d;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0px 5px 10px #483838;
  align-items: center;
}
